/* General */

Body {
    margin: 0;
    padding: 0;

}

* {
    margin: 0;
    padding: 0;
    pointer-events: all;
    -webkit-font-smoothing: subpixel-antialiased;
}

img {
    width: 100%;

}

hr {
  width: 84%;
  margin-left: 8%;
  box-shadow: 0px 2px 4px 0px #000000;
}

.clear {
    clear: both;
}

.site {
  overflow: hidden;
}

.conteneur_site {
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    -webkit-transition: 1.4s;
    -moz-transition: 1.4s;
    transition: 1.4s;
    /*overflow-x: hidden;*/
}

h1 {
    position: relative;
    font-family: 'Roboto slab', sans-serif;
    color: #ffffff;
    font-size: 80px;
    /*text-shadow: 0px 4px 4px black;*/
    font-weight: 400;
    height: 92px;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    -webkit-animation-name: h1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: h1;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    animation-name: h1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@-moz-keyframes h1 {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes h1 {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

@keyframes h1 {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

h2 {
    font-family: 'Open sans', sans-serif;
    color: #ffffff;
    font-size: 34px;
    /*text-shadow: 0px 2px 2px black;*/
    font-weight: lighter;
    width: 100%;
    height: 160px;
    position: absolute;
    text-align: center;
    /*letter-spacing: 2px;*/
    -webkit-animation-name: h2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-name: h2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@-moz-keyframes h2 {
  0% {
      right: -100%;
  }
  50% {
      right: -0.5%;
  }
  75% {
      right: 0.5%;
  }
  100% {
      right: 0%;
  }
}

@-webkit-keyframes h2 {
  0% {
      right: -100%;
  }
  50% {
      right: -0.5%;
  }
  75% {
      right: 0.5%;
  }
  100% {
      right: 0%;
  }
}

@keyframes h2 {
  0% {
      right: -100%;
  }
  50% {
      right: -0.5%;
  }
  75% {
      right: 0.5%;
  }
  100% {
      right: 0%;
  }
}

h3 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #a6e1fa;
    font-size: 80px;
    /*text-shadow: 0px 2px 2px black;*/
    font-weight: 400;
    width: 100%;
    padding-top: 2.5vh;
    margin-bottom: 1.5vh;
    text-align: center;
    /*letter-spacing: 2px;*/
}

/* General */

/* Conteneur accueil */

.accueil {
    height: 100vh;
    z-index: 2;
    position: relative;
    background: #7aca55;
    background: -webkit-linear-gradient(left top, #7aca55, #fccc02);
    background: -o-linear-gradient(bottom right, #7aca55, #fccc02);
    background: -moz-linear-gradient(bottom right, #7aca55, #fccc02);
    background: linear-gradient(to bottom right, #7aca55, #fccc02);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.titre {
  position: relative;
  z-index: 20;
  top: 12%;
  width: 900px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

}

.titre img {
    width: 100%;
    position: relative;
    -webkit-animation-name: titre;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: titre;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    animation-name: titre;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.titre img:last-of-type {
  display: none;
}

@-moz-keyframes titre {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes titre {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

@keyframes titre {
    0% {
        left: -100%;
    }
    50% {
        left: 1%;
    }
    75% {
        left: -1%;
    }
    100% {
        left: 0%;
    }
}

.anchor {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    margin-top: 4%;
    margin-left: -20px;
    left: 50%;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -moz-animation-name: anchor;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-name: anchor;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: anchor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-moz-keyframes anchor {
    0% {
        top: 64%;
    }
    25% {
        top: 72%;
    }
    50% {
        top: 64%;
    }
    75% {
        top: 72%;
    }
    100% {
        top: 64%;
    }
}

@-webkit-keyframes anchor {
    0% {
        top: 66%;
    }
    25% {
        top: 70%;
    }
    50% {
        top: 66%;
    }
    75% {
        top: 70%;
    }
    100% {
        top: 66%;
    }
}

@keyframes anchor {
    0% {
        top: 66%;
    }
    25% {
        top: 70%;
    }
    50% {
        top: 66%;
    }
    75% {
        top: 70%;
    }
    100% {
        top: 66%;
    }
}

.anchor a {
    width: 40px;
    height: 80px;
    display: block;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.anchor a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.logo {
    background-color: #f5f5f5;
    z-index: 10;
    width: 158px;
    height: 82px;
    position: relative;
    float: right;
    margin-top: 42px;
    margin-right: 20px;
    border-radius: 8px;
    -webkit-animation-name: logo;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: logo;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.logo img {
    width: 82%;
    position: relative;
    margin: 10px 14px 10px 14px;
}

@-moz-keyframes logo {
  0% {
      top: -110px;
  }
  50% {
      top: 4px;
  }
  75% {
      top: -4px;
  }
  100% {
      top: 0px;
  }
}

@-webkit-keyframes logo {
  0% {
      top: -110px;
  }
  50% {
      top: 4px;
  }
  75% {
      top: -4px;
  }
  100% {
      top: 0px;
  }
}

@keyframes logo {
  0% {
      top: -110px;
  }
  50% {
      top: 4px;
  }
  75% {
      top: -4px;
  }
  100% {
      top: 0px;
  }
}

/* Conteneur_accueil */

main {
  min-height: 200px;
  position: relative;
}


/* Conteneur_Chiffres */

section {
    background-color: #f5f5f5;
    background-image: url(../img/fond.png);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    min-height: 50vh;
    text-align: center;
    position: relative;
    z-index: 4;
    color: #ffffff;
}

section.chiffres {
  width: 100%;
}

.chiffres_figure {
    position: relative;
    width: 100%;
    min-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.chiffres_cles {
  width: 1024px;
  padding-top: 2vh;
  padding-bottom: 12vh;
  margin-left: auto;
  margin-right: auto;
}

figure {
  position: relative;
  width: 300px;
  height: 220px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 5%;
  float: left;
  margin-top: 2%;
}

.padding_top10 {
  padding-top: 10%;
}

.chiffres_left {
    opacity: 0;
    -webkit-transform: translate(-2000px);
    -moz-transform: translate(-2000px);
    transform: translate(-2000px);
    transition: 1.4s;
}

.chiffres_right {
    opacity: 0;
    -webkit-transform: translate(+2000px);
    -moz-transform: translate(+2000px);
    transform: translate(+2000px);
    transition: 1.4s;
}

.chiffres_figure p {
  width: 98%;
  height: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #0f9fdb;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  color: #a6e1fa;
  font-weight: 300;
}

.mouvementX {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/* Section contenu*/

section.contenu_principal {
    width: 100%;
    z-index: 4;
}

.contenu {
  width: 100%;
  height: 512px;
  position: relative;
  z-index: 2;
  background: #ecaa02;
  background: -webkit-linear-gradient(left top, #ecaa02, #f26062);
  background: -o-linear-gradient(bottom right, #ecaa02, #f26062);
  background: -moz-linear-gradient(bottom right, #ecaa02, #f26062);
  background: linear-gradient(to bottom right, #ecaa02, #f26062);
}

.green_gradient {
  background: #7aca55;
  background: -webkit-linear-gradient(left top, #7aca55, #fccc02);
  background: -o-linear-gradient(bottom right, #7aca55, #fccc02);
  background: -moz-linear-gradient(bottom right, #7aca55, #fccc02);
  background: linear-gradient(to bottom right, #7aca55, #fccc02);
}

.lightblue_gradient {
  background: #00fffc;
  background: -webkit-linear-gradient(left top, #00fffc, #8dfff0);
  background: -o-linear-gradient(bottom right, #00fffc, #8dfff0);
  background: -moz-linear-gradient(bottom right, #00fffc, #8dfff0);
  background: linear-gradient(to bottom right, #00fffc, #8dfff0);
}

.yellow_gradient {
  background: #ffcc00;
  background: -webkit-linear-gradient(left top, #ffcc00, #fcff00);
  background: -o-linear-gradient(bottom right, #ffcc00, #fcff00);
  background: -moz-linear-gradient(bottom right, #ffcc00, #fcff00);
  background: linear-gradient(to bottom right, #ffcc00, #fcff00);
}

.orange_gradient {
  background: #ff995f;
  background: -webkit-linear-gradient(left top, #ff995f, #ffc6a6);
  background: -o-linear-gradient(bottom right, #ff995f, #ffc6a6);
  background: -moz-linear-gradient(bottom right, #ff995f, #ffc6a6);
  background: linear-gradient(to bottom right, #ff995f, #ffc6a6);
}

.violet_gradient {
  background: #af8ecb;
  background: -webkit-linear-gradient(left top, #af8ecb, #d1bbe3);
  background: -o-linear-gradient(bottom right, #af8ecb, #d1bbe3);
  background: -moz-linear-gradient(bottom right, #af8ecb, #d1bbe3);
  background: linear-gradient(to bottom right, #af8ecb, #d1bbe3);
}

.blue_gradient {
  background: #638dff;
  background: -webkit-linear-gradient(left top, #638dff, #a8bfff);
  background: -o-linear-gradient(bottom right, #638dff, #a8bfff);
  background: -moz-linear-gradient(bottom right, #638dff, #a8bfff);
  background: linear-gradient(to bottom right, #638dff, #a8bfff);
}

.grayblue_gradient {
  background: #9ebac8;
  background: -webkit-linear-gradient(left top, #9ebac8, #cfe1ea);
  background: -o-linear-gradient(bottom right, #9ebac8, #cfe1ea);
  background: -moz-linear-gradient(bottom right, #9ebac8, #cfe1ea);
  background: linear-gradient(to bottom right, #9ebac8, #cfe1ea);
}

.pastelblue_gradient {
  background: #6bceff;
  background: -webkit-linear-gradient(left top, #6bceff, #b3e6ff);
  background: -o-linear-gradient(bottom right, #6bceff, #b3e6ff);
  background: -moz-linear-gradient(bottom right, #6bceff, #b3e6ff);
  background: linear-gradient(to bottom right, #6bceff, #b3e6ff);
}

.gray_gradient {
  background: #c2d2d9;
  background: -webkit-linear-gradient(left top, #c2d2d9, #fafafa);
  background: -o-linear-gradient(bottom right, #c2d2d9, #fafafa);
  background: -moz-linear-gradient(bottom right, #c2d2d9, #fafafa);
  background: linear-gradient(to bottom right, #c2d2d9, #fafafa);
}

.bluegreen_gradient {
  background: #6ad4d3;
  background: -webkit-linear-gradient(left top, #6ad4d3, #a4d3d2);
  background: -o-linear-gradient(bottom right, #6ad4d3, #a4d3d2);
  background: -moz-linear-gradient(bottom right, #6ad4d3, #a4d3d2);
  background: linear-gradient(to bottom right, #6ad4d3, #a4d3d2);
}

nav {
  width: 960px;
  margin: auto;
  padding-top: 32px;
  opacity: 0;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  transition: 2s;
}

.opacity {
    opacity: 1;
}

nav ul {
  background-color: #f5f5f5;
  height: 444px;
}

nav ul li {
    width: 318px;
    height: 110px;
    background-color: #f5f5f5;
    float: left;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.hidden_li {
  pointer-events: none;
}

nav ul li a {
    display: block;
    width: 280px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #777777;
    border-bottom: 1px solid #fccc02;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

nav ul li a:hover {
  color: #333333;
}

nav ul li:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px #888888;
    position: relative;
    z-index: 8;
  }

.image_granulats {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 54vh;
    background-image: url(../img/image_granulats.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.environnement,
.engagement,
.legislation,
.sante,
.technique,
.transport,
.livre,
.developpement,
.vie,
.europe {
    display: none;
    width: 960px;
    min-height: 1200px;
    position: relative;
    z-index: 6;
    margin: auto;
    padding-top: 72px;
    top: -40px;
    margin-top: -512px;
}

.element {
    background-color: #ffffff;
    float: left;
    width: 480px;
    height: 480px;
    position: relative;
}

.element_bis {
  width: 320px;
}

.image_resize {
  margin-top: 20px;
  width: 100px;
}

.image_resize2 {
  width: 160px;
}

.element_horizontal {
    width: 960px;
    height: 480px;
}

.element_vertical {
    width: 480px;
    height: 960px;
    float: left;
}

.block_final {
  width: 860px;
  height: 860px;
  padding: 50px;

}

.description {
  width: 380px;
  margin: auto;
  margin-top: 50%;
  transform: translateY(-50%);
}

.description_bis {
  width: 280px;
  margin-top: 70%;
}

.description_vertical {
  margin-top: 90%;
}

.underline {
  border-bottom: 2px solid #ffffff;
}

.text_align_left {
  width: 180px;
  text-align: left;
}

.text_align_center {
  text-align: center !important;
}

.no_margin {
  margin: 0;
}

.margin_top_element {
  margin-top: 59.5% !important;
}

.full_width {
  width: 100% !important;
}

h4 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  line-height: 2vh;
  font-family: 'Open sans', sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-top: 2vh;
}

h6 {
  color : #333333;
  font-size: 18px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.element p {
  color : #333333;
  font-size: 14px;
  font-family: 'Open sans', sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.element a {
  display: block;
  width: 154px;
  height: 28px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-weight: 100;
  margin: auto;
  line-height: 26px;
}

.couleur_element {
  background-color: #dcddde;
}

.couleur_element2 {
  background-color: #eeeeee;
}

.typo_couleur_element {
  color: #aaaaaa;
}

.couleur_environnement {
  background-color: #35ab52;
}

.typo_couleur_environnement {
  color: #35ab52;
}

.couleur_engagement {
  background-color: #00aaa8;
}

.typo_couleur_engagement {
  color: #00aaa8;
}

.couleur_legislation {
  background-color: #fcb034;
}

.typo_couleur_legislation {
  color: #fcb034;
}

.couleur_sante {
  background-color: #f36d21;
}

.typo_couleur_sante {
  color: #f36d21;
}

.couleur_technique {
  background-color: #9c2776;
}

.typo_couleur_technique {
  color: #9c2776;
}

.couleur_transport {
  background-color: #23408f;
}

.typo_couleur_transport {
  color: #23408f;
}

.couleur_livre {
  background-color: #628b9f;
}

.typo_couleur_livre {
  color: #628b9f;
}

.couleur_developpement {
  background-color: #008dd3;
}

.typo_couleur_developpement {
  color: #008dd3;
}

.couleur_vie {
  background-color: #adc6d1;
}

.typo_couleur_vie {
  color: #adc6d1;
}

.couleur_europe {
  background-color: #00aaa8;
}

.typo_couleur_europe {
  color: #00aaa8;
}

/* Footer */

footer {
    width: 100%;
    position: relative;
    z-index: 6;

}

.footer_haut {
  width: 100%;
  min-height: 180px;
  background-color: #ffffff;
}

.footer_bas {
  min-height: 80px;
  background-color: #5e6977;
}

.infos {
  width: 960px;
  margin: auto;
}

.logo_footer {
  width: 186px;
  float: left;
  margin-left: 40px;
}

.logo_footer img {
  margin-top: 36px;
}

.social_network,
.download {
  width: 220px;
  float: left;
  margin-left: 40px;
}

.adresse_footer {
  width: 172px;
  float: left;
  margin-left: 40px;
}

.adresse_footer p:last-child {
  display: none;
}

.adresse_footer p {
  text-align: left;
  margin-top: 46px;
  font-size: 14px;
  color: #959595;
  font-family: 'Open sans', sans-serif;
  font-weight: lighter;
}

.adresse_footer p a{
  text-decoration: none;
  color: #959595;
}

.social_network a {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: 62px;
  margin-left: 24px;
}

.social_network a:hover {
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.download img {
  margin-top: 50px;
  width: 200px;
  height: 64px;
}

.infos_bas {
  width: 960px;
  margin: auto;
}

.copyright {
  margin: auto;
}

.copyright {
    width: 176px;
    float: left;
    font-family: 'Open sans' , sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 40px;
}

.mentions {
  float: left;
  width: 588px;
  margin-left: 156px;

}

.mentions ul {
  width: 498px;
  height: 80px;
  float: left;
}

.mentions ul li {
  float: right;
  list-style-type: none;
  margin-top: 30px;
  margin-left: 10px;
}

.mentions ul li a {
  width: 160px;
  display: block;
  text-decoration: none;
  font-family: 'Open sans' , sans-serif;
  font-size: 12px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}

.mentions ul li:last-child a,
.mentions ul li:first-child a {
  width: 64px;
}

.mentions ul li:first-child a {
  border: none;
}

.mentions a {
  display: block;
  float: left;
}

.mentions a img {
  width: 50px;
  margin-top: 16px;
  margin-left: 16px;
}

/* Header */

header {
    position: absolute;
    z-index: 40;
    height: 40px;
    right: 2%;
    top: 40px;
    -webkit-animation-name: header;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-name: header;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    animation-name: header;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@-moz-keyframes header {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

@-webkit-keyframes header {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

@keyframes header {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

header p {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #ffffff;
  font-size: 60px;
}

/* Nav Responsive */

.navicon {
    cursor: pointer;
    width: 60px;
    height: auto;
    position: fixed;
    z-index: 50;
    left: 28px;
    top: 40px;
    -webkit-transition: 1.4s;
    -moz-transition: 1.4s;
    transition: 1.4s;
    -webkit-animation-name: navicon;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: navicon;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    animation-name: navicon;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.navicon img {
  height: 60px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.navicon:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

@-moz-keyframes navicon {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

@-webkit-keyframes navicon {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

@keyframes navicon {
    0% {
        top: -10px;
    }
    50% {
        top: 44px;
    }
    75% {
        top: 36px;
    }
    100% {
        top: 40px;
    }
}

.navicon_on{
  display: block;
}

.navicon_off{
  display: none;
}

.nav_responsive_bar {
    position: fixed;
    min-height: 100vh;
    width: 420px;
    top: 0;
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-10%);
    transform: translate(-100%);
    background-color: #ffffff;
    z-index: 30;
    -webkit-transition: 1.4s;
    -moz-transition: 1.4s;
    transition: 1.4s;
}

.nav_responsive_bar ul {
    position: relative;
    margin-top: 180px;
    margin-left: 60px;
}

.nav_responsive_bar li {
    min-height: 6vh;
    width: 300px;
    list-style-type: none;
    position: relative;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
}

.nav_responsive_bar ul li a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    text-align: left;
    color: #333333;
    border-bottom: 1px solid #fccc02;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.nav_responsive_bar ul li a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

/* Nav Responsive */

/** MEdia QUerie for responsive **/

@media screen and (max-width: 1024px) {

.titre {
  width: 632px;
}

h2 {
  font-size: 24px;
}

}

@media screen and (max-width: 960px) {

.titre {
  width: 580px;
}

h2 {
  font-size: 22px;
}

.chiffres_cles {
  width: 960px;
}

figure {
  width: 260px;
}


.contenu {
  height: 280px;
}

nav ul {
  display: none;
}

.environnement,
.engagement,
.legislation,
.sante,
.technique,
.transport,
.livre,
.developpement,
.vie,
.europe {
    width: 90%;
    top: -40px;
    margin-top: -270px;

}

.description {
    margin: auto;
    transform: translate(0px);
    padding-top: 10%;
    padding-bottom: 10%;

}

.element,
.element_bis {
  width: 100%;
  height: auto;
  margin-top: -5px;
  clear: both;
  border-top: 1px solid #cccccc;
}

.element_vertical {
  width: 100%;
  height: 100%;
}

.element_horizontal {
  width: 100%;
}

.full_width_height {
  width: 100%;
  height: 100%;

}

.none {
  display: none;
}

.padding_top {
  padding-top: 20%;
}

.margin_top_element {
  margin: 0;
}

.infos {
  width: 680px;
  margin: auto;

}

.logo_footer {
  margin-left: 20px;
}

.adresse_footer {
  margin-left: 60px;
}

.social_network {
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;


}

.social_network a {
  margin-top: 20px;
  margin-left: 20px;
}

.download {
  margin-left: 20px;
}

.infos_bas {
  width: 636px;
  margin: auto;
}

.copyright {
  margin-left: 0px;
}

.mentions {
  width: 312px;
  margin-left: 140px;

}

.mentions ul {
  width: 246px;
}

.mentions ul li:first-child,
.mentions ul li:nth-child(2) {
  display: none;

}

}

@media screen and (max-width: 800px) {

.titre {
  width: 440px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 50px;
}

.chiffres_cles {
  width: 460px;
}

figure {
  width: 60%;
  clear: both;
  margin-bottom: 8%;
  margin-top: 8%;

}

figure img {
  width: 100%;
}

.contenu {
  display: none;
}

.environnement,
.engagement,
.legislation,
.sante,
.technique,
.transport,
.livre,
.developpement,
.vie,
.europe {
    width: 100%;

}

.element,
.element_bis,
.element_vertical {
  width: 100%;
  clear: both;
}

.logo_footer,
.adresse_footer,
.social_network,
.download {
clear: both;
width: auto;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
}

.logo_footer {
    margin-left: 20px;
}

.logo_footer img {
    margin-top: 0px;
}

.adresse_footer p:first-child {
  display: none;
}

.adresse_footer p:last-child {
  display: block;
  text-align: center;
  margin-top: 0px;
}

.social_network a {
  margin-top: 0px;
  margin-left: 34px;
}

.download {
display: none;

}

.infos {
  width: 100%;
}

.footer_haut .infos {
  width: 258px;
}

.infos_bas {
  width: 312px;
  margin: auto;
}

.mentions {
  width: 312px;
  margin-left: 0px;
  float: none;
}

.copyright {
  display: none;
}

}

@media screen and (max-width: 420px) {


.titre {
  top: 14%;
  width: 290px;
}

.titre img:first-of-type {
  display: none;
}

.titre img:last-of-type {
  display: block;
}

h2 {
  display: none;
}

.logo {
  width: 148px;
  height: 72px;
  position: relative;
  float: right;
  margin-top: 42px;
  margin-right: 20px;

}

.logo img {
  margin: 6px 12px 6px 14px;
}

.chiffres_cles {
  width: 100%;
}

figure {
  margin-left: 72px;
  margin-right: 72px;

}

.contenu {
  display: none;
}

.nav_responsive_bar ul {
    margin-top: 136px;
    margin-left: 46px;
}

.nav_responsive_bar ul li a {
  line-height: 32px;
}

main {
  background-size: inherit;
}

h3 {
  font-size: 38px;
}

h4 {
  margin-top: 72px;
}

.environnement,
.engagement,
.legislation,
.sante,
.technique,
.transport,
.livre,
.developpement,
.vie,
.europe {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    top: 0px;
}

.description {
  width: 80%;
  margin: auto;
  padding-bottom: 34%;
}

.infos_bas {
  width: 100%;
}

}
